header
  nav
    a([routerLink]="['']") Home
    a([routerLink]="['about']") About
main
  h1 Hello from {{title}}!

  // Images (and assets) are parsed and loaded from within the public directory
  img(src="/img/angular.png")

  router-outlet
footer
  a([href]="url") Webpack Angular 2 Starter
